@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Major+Mono+Display&display=swap');

:root {
    --primary-color: #b7b49e;
    --secondary-color: #757466;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image: 
    radial-gradient(rgb(183, 180, 158) 10%, transparent 10%),
    radial-gradient(rgb(183, 180, 158) 10%, transparent 10%);
    background-position: 0px 0px, 12px 12px;
    background-size: 24px 24px;
    background-color: rgb(174, 168, 147);
}

.to-do {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family:'La Belle Aurore', cursive;
    font-size: 5.5rem;
    color: var(--secondary-color);
}

.to-do-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.to-do-item{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 1px 1px 5px var(--secondary-color);
    font-family:'Major Mono Display', monospace;
    font-size: 1.2rem;
    color: var(--secondary-color)
}
.to-do-item > div {
    width: 80%;
}
.to-do-item:hover {
    cursor: pointer;
    transition: all .5s ease;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


.to-do-item > input[type='text'] {
    border: none;
    width: 80%;
}

.to-do-item > input[type='button'],
.to-do-item > input[type='checkbox'] {
    width: 30px;
    height: 30px;
}


.to-do-item > input[type='checkbox']:checked  + div {
    text-decoration:line-through;
}

.to-do-new-item{
    display: flex;
    background-color: #e8e1ca;
    border-radius: 4px;
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
    padding: 10px 0;
    box-shadow: 1px 1px 5px var(--secondary-color);
    margin: 10px;
    font-family: 'Major Mono Display', monospace;
    font-size: 1.4rem;
}

.to-do-new-item > input{
    background-color: #e8e1ca;
    border: none;
    width: 80%;
    outline: none;
    font: inherit;
}

.to-do-new-item > input::placeholder {
    font-style: italic;
    font-weight: normal;
    font-family: 'Major Mono Display', monospace;
    font-size: 1.2rem;
}
